.body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin-top: 63px;
  margin-left: 98px;
  margin-right: 98px;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.container-head {
  text-decoration: none;
  margin-bottom: 63px;
  margin-left: 0px;
    size: 80px;
}
   .first-title {
  color: black;
  font-size: 78px;
}
.second-title {
  color: #4bcaff;
  font-size: 78px;
} 
 .flex-container {
  style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px; 
  margin-top: 40px;
  height: 72px;
  background-color: #35444F;
  }
.flex-container-box {
  display: flex;
  justify-content: center;
   align-items: center;
  background-color: #35444f;
  border: 1px solid white;
    text-align: center;
   transition: 0.5s;
  color: white;
  width: 230px;
  height: 72px;
   /*padding-top: 26px;
  padding-bottom: 19px;
   */
}
.flex-container-box:hover {
  background-color:black;
}
  main {
    margin:0 auto;
    display:flex;
     justify-content: space-between;
  }
  .aside-menu {
  border: 1px solid black;
width: 344px;
 }
.aside-menu-item {
  transition: 0.5s;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 44px;
}
.aside-menu-item:hover {
  background: #dbdbdb;
  padding: 27px 38px 78px 27px;
}
.content {
  width: 829px;
}
.image-content {
  display:flex;
  justify-content: center;
  border: 1px solid grey;
  padding-left: 297px;
  padding-top: 75px;
  padding-bottom: 73px;
  padding-right: 268px;
}
.content-text {
  margin-bottom: 34px;
}
.footer-menu {
  display: flex;
  justify-content: space-around;
   width: 1280px; 
   background-color: grey;
   height: 69px;
   
   }
.footer-menu-item {
  transition: 0.5s;
  padding-top: 20px;
  padding-bottom: 21px;
}
.footer-menu-item:hover {
  color: #4bcaff;
}
