body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}
.navbar-section {
  text-align: center;
}
.navbar-section li {
  display: inline-block;
  size: 18px;
  font-weight: bold;
  color: #ff0000;
  text-transform: uppercase;
  margin: 25.5px 72px;
}
.navbar-section li a {
  text-decoration: none;
  color: #ff0000;
}
.navigation {
  text-decoration: none;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding: 25.5px;
  /* or 100% */

  /* display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;*/
}
.headertext {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
}
.image-section {
  display: inline-block;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 49px;
}
.content-section {
  color: #373737;
  /* font size:22px
Line height:27px
Line height:100% */
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.text-section {
  font-weight: normal;
  text-align: center;
  text-indent: 40px;
  margin-left: 67.5px;
  margin-right: 67.5px;
  margin-top: 28px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 1.5px;
}

.button-section {
  background-color: #f30b2a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 191px;
  height: 51;
  font-size: 16px;
  /*padding: 17.5px 42.5px;*/
  margin-top: 79px;
  margin-left: auto;
  margin-right: auto;
  padding: 17.5px 42.5px;
}
.footer-section {
  margin-top: 99px;
  margin-right: 105px;
  font-weight: normal;
  text-align: right;
  font-size: 16px;
  letter-spacing: 0.5px;
}
